In [1]:
#  Import and read the charity_data.csv.
import pandas as pd
Loan_df = pd.read_csv("LoanApprovalPrediction.csv")
Loan_df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0.0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1.0,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0.0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0.0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0.0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [2]:
#Drop Nan values
Loan_df = Loan_df.dropna()

In [3]:
#Replace Gender 
mapping = {'Male':1, 'Female':0}
Loan_df['Gender'] = Loan_df['Gender'].map(mapping)

In [4]:
#Replace Loan Status 
mapping = {'Y':1, 'N':0}
Loan_df['Loan_Status'] = Loan_df['Loan_Status'].map(mapping)

In [5]:
#Replace Married
mapping = {'Yes':1, 'No':0}
Loan_df['Married'] = Loan_df['Married'].map(mapping)
Loan_df['Self_Employed'] = Loan_df['Self_Employed'].map(mapping)

In [6]:
#Replace Education 
mapping = {'Graduate':1, 'Not Graduate':0}
Loan_df['Education'] = Loan_df['Education'].map(mapping)

In [7]:
#Replace Property Area 
mapping = {'Urban':2, 'Semiurban':1, 'Rural':0}
Loan_df['Property_Area'] = Loan_df['Property_Area'].map(mapping)

In [9]:
# Dropping Loan_ID column
Loan_df.drop(['Loan_ID'],axis=1,inplace=True)

In [10]:
Loan_df

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
1,1,1,1.0,1,0,4583,1508.0,128.0,360.0,1.0,0,0
2,1,1,0.0,1,1,3000,0.0,66.0,360.0,1.0,2,1
3,1,1,0.0,0,0,2583,2358.0,120.0,360.0,1.0,2,1
4,1,0,0.0,1,0,6000,0.0,141.0,360.0,1.0,2,1
5,1,1,2.0,1,1,5417,4196.0,267.0,360.0,1.0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...
593,0,0,0.0,1,0,2900,0.0,71.0,360.0,1.0,0,1
594,1,1,3.0,1,0,4106,0.0,40.0,180.0,1.0,0,1
595,1,1,1.0,1,0,8072,240.0,253.0,360.0,1.0,2,1
596,1,1,2.0,1,0,7583,0.0,187.0,360.0,1.0,2,1
597,0,0,0.0,1,1,4583,0.0,133.0,360.0,0.0,1,0

In [11]:
output_file_path = 'ETL_Completed_LoanApprovalPrediction.csv'
# Export the DataFrame to a CSV file
Loan_df.to_csv(output_file_path, index=False)
# Printing a message indicating successful export
print(f"DataFrame 'Loan_df' successfully exported to '{output_file_path}' as a CSV file.")

DataFrame 'Loan_df' successfully exported to 'ETL_Completed_LoanApprovalPrediction.csv' as a CSV file.