In [1]:
#  Import and read the charity_data.csv.
import pandas as pd
Loan_df = pd.read_csv("LoanApprovalPrediction.csv")
Loan_df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0.0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1.0,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0.0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0.0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0.0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [2]:
#Drop Nan values
Loan_df = Loan_df.dropna()

In [3]:
#Replace Gender 
mapping = {'Male':1, 'Female':0}
Loan_df['Gender'] = Loan_df['Gender'].map(mapping)

In [4]:
#Replace Loan Status 
mapping = {'Y':1, 'N':0}
Loan_df['Loan_Status'] = Loan_df['Loan_Status'].map(mapping)

In [5]:
#Replace Graduate Status 
mapping = {'Graduate':1, 'Not Graduate':0}
Loan_df['Education'] = Loan_df['Education'].map(mapping)

In [6]:
#Replace Married
mapping = {'Yes':1, 'No':0}
Loan_df['Married'] = Loan_df['Married'].map(mapping)
Loan_df['Self_Employed'] = Loan_df['Self_Employed'].map(mapping)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
1,LP001003,1,Yes,1.0,NaN,0,4583,1508.0,128.0,360.0,1.0,Rural,0
2,LP001005,1,Yes,0.0,NaN,1,3000,0.0,66.0,360.0,1.0,Urban,1
3,LP001006,1,Yes,0.0,NaN,0,2583,2358.0,120.0,360.0,1.0,Urban,1
4,LP001008,1,No,0.0,NaN,0,6000,0.0,141.0,360.0,1.0,Urban,1
5,LP001011,1,Yes,2.0,NaN,1,5417,4196.0,267.0,360.0,1.0,Urban,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
593,LP002978,0,No,0.0,NaN,0,2900,0.0,71.0,360.0,1.0,Rural,1
594,LP002979,1,Yes,3.0,NaN,0,4106,0.0,40.0,180.0,1.0,Rural,1
595,LP002983,1,Yes,1.0,NaN,0,8072,240.0,253.0,360.0,1.0,Urban,1
596,LP002984,1,Yes,2.0,NaN,0,7583,0.0,187.0,360.0,1.0,Urban,1
597,LP002990,0,No,0.0,NaN,1,4583,0.0,133.0,360.0,0.0,Semiurban,0

In [7]:
#Map "Property_Area" Dataframe has been loaded
mapping = {'Rural':2, 'Urban':1, 'Semiurban':0}
Loan_df['Property_Area'] = Loan_df['Property_Area'].map(mapping)

In [8]:
Loan_df

DataFrame 'Loan_df' successfully exported to 'ETL_Completed_LoanApprovalPrediction.csv' as a CSV file.

In [9]:
output_file_path = 'ETL_Completed_LoanApprovalPrediction.csv'

# Export the DataFrame to a CSV file
Loan_df.to_csv(output_file_path, index=False)

# Printing a message indicating successful export
print(f"DataFrame 'Loan_df' successfully exported to '{output_file_path}' as a CSV file.")

DataFrame 'Loan_df' successfully exported to 'ETL_Completed_LoanApprovalPrediction.csv' as a CSV file.